/*selectボックスをいい感じに隠したりしてるcssです。*/
.select-default:disabled {
  display: none;
}

.select-category-child,
.select-category-grand-child {
  display: none;
}

.select-category-child.is-show {
  display: block;
}
