/* BODY STYLES
------------------------------------ */
body {
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

/* input STYLES
------------------------------------ */
.input {
  background-color: #ffffff;
  max-width: 375px;
  height: auto;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  border-top: 1px solid transparent;
}

.input-logo {
  margin: 35px auto;
  display: block;
  width: 60%;
  pointer-events: none;
}

.site-title {
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: #222222;
}

/* form STYLES
------------------------------------ */
form.form1 {
  padding-top: 25px;
  padding-bottom: 28px;
}

.search-default {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: inherit;
}

.select-default {
  width: 76%;
  color: rgb(117, 117, 117);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: inherit;
}

.input-search:focus,
.select-default:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.select-default:disabled {
  display: none;
}

.select-category-child,
.select-category-grand-child {
  display: none;
}

.select-category-child.is-show {
  display: block;
}

.form-group {
  margin-bottom: 5px;
}

#checkbox-area {
  width: 76%;
  margin: -5px auto 28px;
}

.checkbox-area-title {
  font-size: 14px;
}

#display-switch {
  display: none;
}

#conditionlist-wrap {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#display-switch:checked + #conditionlist-wrap {
  height: 162px;
  opacity: 1;
}

input[type="checkbox"] {
}

input[type="checkbox"]:checked {
}

.submit {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  touch-action: manipulation;
  border: 1px solid #ea352d;
  border-radius: 4px;
  text-align: center;
  padding: 0 10px;
  line-height: 30px;
  background: #e62017;
  display: block;
  opacity: 1;
  text-decoration: none;
  transition: all ease-out 0.3s;
  margin: 0 35%;
}

#form1 > a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #ffffff;
  text-decoration: none;
}

/* BODY STYLES
------------------------------------ */
@media (max-width: 600px) {
  .input {
    width: 80%;
    min-width: 375px;
  }
}
