/* BODY STYLES
------------------------------------ */
body {
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

/* NAVBAR STYLES
------------------------------------ */
.navbar-default {
  border-top: 1px solid transparent;
}

/* LOGO STYLES
------------------------------------ */
.logo {
  margin: 15px;
  float: left;
  display: block;
  width: 28%;
  max-width: 170px;
}

/* CONTAINER STYLES
------------------------------------ */
.container {
  max-width: 70%;
  border-top: 0px solid transparent;
}

/*注釈部*/
.container-notes {
  color: #666;
  font-size: 10px;
}

/*title部*/
.container-title {
}

/* GRAPH STYLES
------------------------------------ */
#myBarChart {
  background-color: #ffffff;
  display: block;
  padding: 2%;
  border-radius: 10px;
  width: 100% !important;
  margin: 0px auto;
}

/* RESULT HEADER STYLES
------------------------------------ */
.result-header {
  background-color: #ea2d2d;
  border: 0px solid;
  margin-top: 10px;
}

/*title部*/
.result-header p {
  padding: 1%;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

.item {
  border: 0px solid;
}

.item img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.itemprice {
}

.itemname {
  height: 15px;
  padding-bottom: 42px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* RESPONSIVE STYLES
------------------------------------ */
@media (max-width: 700px) {
  .container {
    max-width: 100%;
  }
}
