/* BODY STYLES
------------------------------------ */
body {
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

/* NAVBAR STYLES
------------------------------------ */
.navbar-default {
  border-top: 1px solid transparent;
  border: 0px;
  border-radius: 0px;
  background-color: #ffffff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 30px;
}

/* LOGO STYLES
------------------------------------ */
.logo {
  margin: 12px;
  float: left;
  display: block;
  width: 24%;
  max-width: 175px;
}

/* CONTAINER STYLES
------------------------------------ */
.container {
  max-width: 800px;
  margin: 0px auto;
  border-top: 0px solid transparent;
  padding-right: 0px;
  padding-left: 0px;
}

/*注釈部*/
.container-notes {
  color: #666;
  font-size: 10px;
}

/*title部*/
.container-title {
}

/* GRAPH STYLES
------------------------------------ */
#myBarChart {
  background-color: #ffffff;
  display: block;
  padding: 8px;
  border-radius: 10px;
  width: 100% !important;
  height: 100% !important;
  margin: 0px auto;
}

/* RESULT HEADER STYLES
------------------------------------ */
.result-header {
  background-color: #ea2d2d;
  border: 0px solid;
  margin-top: 10px;
}

/*title部*/
.result-header p {
  padding: 1%;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

/*colの左右余白*/
.row {
  margin-right: -10px;
  margin-left: -10px;
}

/*colとcolの間の余白*/
.itemcol {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 18px;
}

.item img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.items-box-num {
  font: 66.66667% sans-serif;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
    メイリオ, Meiryo, sans-serif;
  color: #333;
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  background-repeat: no-repeat;
  padding: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 8px 0 0;
  margin-top: -32px;
}

.item-price {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 12px 12px 0;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 12px 4px 8px;
  z-index: 2;
}

.itemname {
  height: 15px;
  padding-bottom: 42px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.item-sold-out-badge {
  font: 66.66667% sans-serif;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  color: #333;
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.sold-char {
  font: 66.66667% sans-serif;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  box-sizing: inherit;
  line-height: inherit;
  border-style: solid;
  border-width: 0;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: 2;
  color: #fff;
  transform: rotate(-45deg);
  letter-spacing: 2px;
  font-weight: 600;
  top: 10px;
  font-size: 13px;
  margin-left: 10px;
}

.item-sold-out-badge:after {
  border-width: 65px 65px 0 0;
  border-color: #ea352d transparent transparent transparent;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  box-sizing: border-box;
  margin-left: 10px;
}

/* Tab Area
------------------------------------ */

.tab_wrap {
  margin: 10px auto;
}
input[type="radio"] {
  display: none;
}
.tab_area {
  font-size: 0;
  margin: 0px top;
}
.tab_area label {
  width: 50%;
  display: inline-block;
  margin-bottom: 0px;
  padding: 13px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  transition: ease 0.2s opacity;
}
.tab_area label:hover {
  opacity: 0.5;
}
.panel_area {
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tab_panel {
  width: 100%;
  padding: 4px 0;
  display: none;
  margin-bottom: 60px;
}
.tab_panel p {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

#tab1:checked ~ .tab_area .tab1_label {
  background: #fff;
  color: #000;
}
#tab1:checked ~ .panel_area #panel1 {
  display: block;
}
#tab2:checked ~ .tab_area .tab2_label {
  background: #fff;
  color: #000;
}
#tab2:checked ~ .panel_area #panel2 {
  display: block;
}
#tab3:checked ~ .tab_area .tab3_label {
  background: #fff;
  color: #000;
}
#tab3:checked ~ .panel_area #panel3 {
  display: block;
}

/* RESPONSIVE STYLES
------------------------------------ */
@media (max-width: 820px) {
  .container {
    max-width: 92%;
  }
  #myBarChart {
    padding: 2px;
  }
  .row {
    margin-right: -2px;
    margin-left: -2px;
  }
  .itemcol {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
  }
  .sold-char {
    margin-left: 2px;
  }

  .item-sold-out-badge:after {
    margin-left: 2px;
  }
}
