{% extends "result.html" %}{% block graph %}
<canvas id="myBarChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
  var ctx = document.getElementById('myBarChart')
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        {{labelsText|safe}}
      ],
      datasets: [
        {
          label: '度数',
          data: [{{dataText|safe}}],
          backgroundColor: 'rgba(219,39,91,0.5)'
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: '売れてる価格帯'
      },
      legend: {
        display: false
      },
      scales: {
        yAxes: [
          {
            ticks: {
              suggestedMax: {{maxSoldNum|safe}},
              suggestedMin: 0,
              stepSize: 1,
              callback: function (value, index, values) {
                return value + ''
              }
            }
          }
        ]
      }
    }
  })
</script>
{% endblock %}
