{% extends "result.html" %}{% block graph %}
<canvas id="myBarChart"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
  var ctx = document.getElementById('myBarChart')
  var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        '\xA50~ ',
        '\xA51,000~ ',
        '\xA52,000~ ',
        '\xA53,000~ ',
        '\xA54,000~ ',
        '\xA55,000~ ',
        '\xA56,000~ ',
        '\xA57,000~ ',
        '\xA58,000~ ',
        '\xA59,000~ '
      ],
      datasets: [
        {
          label: '度数',
          data: [2, 5, 10, 23, 16, 10, 8, 7, 3, 1],
          backgroundColor: 'rgba(219,39,91,0.5)'
        }
      ]
    },
    options: {
      title: {
        //display: true,
        //text: '支店別 来客数'
      },
      legend: {
        display: false
      },
      scales: {
        yAxes: [
          {
            ticks: {
              suggestedMax: 100,
              suggestedMin: 0,
              stepSize: 10,
              callback: function (value, index, values) {
                return value + '人'
              }
            }
          }
        ]
      }
    }
  })
</script>
{% endblock %}
